body::-webkit-scrollbar {
  width: 6px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(135, 171, 135);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 161);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(135, 171, 135);
  /* creates padding around scroll thumb */
}